body{
	width: 600px;
}
#info-process, #info-detail, #result{
	display: none;
}
/* div.author{ */
/* 	float:right; */
/* } */
/* div.author a{ */
/* 	text-decoration: none; */
/* 	color: white; */
/* } */
td.label{
	font-weight: 900;
}
#result-tbl td.label{
	width: 20%;
	text-align: center;
}
#sum-tbl td.label{
	width: 40%;
	text-align: left;
}
p.error{
	color: red;
}
p.header{
	font-weight: 900;
	font-size: 14px;
	text-align: center;
}
#info-process{
    color: #0D47EA;
    font-size: 14px;
}
